*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

.margin-bottom-medium {
  margin-bottom: 3rem; }

.margin-bottom-small {
  margin-bottom: 2rem; }

a {
  text-decoration: none;
  color: #aaa; }

.btn-learnMore {
  line-height: 1.5;
  background: none;
  padding: .5rem 1rem;
  color: inherit;
  border: 0.2rem solid #aaa;
  border-radius: 3px;
  text-decoration: underline;
  margin: 2rem 0; }
  .btn-learnMore:hover {
    background-color: #535353;
    cursor: pointer; }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 0rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 0rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 0.3rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 0rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 0.3rem) / 2);
    display: inline-block; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 0.3rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 0.3rem) / 3) + 0.3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 0.3rem) / 4);
    display: inline-block; }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 0.3rem) / 4) + 0.3rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 0.3rem) / 4) + 2 * 0.3rem); }

.section-header {
  height: 100vh;
  background-image: linear-gradient(to left, rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.9)), url("../img/Driving-a-Mercedes.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  margin-bottom: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); }

.header {
  height: 100%;
  color: #aaa;
  padding: 2rem 3rem;
  line-height: 1.5; }
  .header-logo {
    font-size: 5rem;
    float: left; }
  .header-nav {
    font-size: 2.5rem;
    position: absolute;
    top: 2rem;
    right: 3rem; }
    .header-nav-item {
      text-decoration: none;
      color: #aaa; }
      .header-nav-item:hover {
        color: #fff; }
      .header-nav-item:not(:last-child) {
        margin-right: 1.8rem; }
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header-content-title {
      display: inline-block;
      text-transform: uppercase;
      font-size: 4rem;
      border-bottom: 0.4rem solid #aaa; }
    .header-content-text {
      font-size: 2.5rem; }
  .header-scroll {
    font-size: 10rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    background: none;
    border: none;
    color: inherit; }
    .header-scroll:hover {
      cursor: pointer; }
    .header-scroll:focus {
      outline: none; }

#header-nav2 {
  display: none; }

.sticky {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  padding: .7rem;
  background-color: rgba(16, 29, 44, 0.8);
  z-index: 2;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-items: center; }

.section-overview {
  color: #aaa; }

.overview-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem 1fr;
  grid-gap: 2rem;
  height: 49vh;
  background-color: #f9f7f6;
  padding: 4rem 6rem; }
  .overview-top-title {
    display: grid;
    grid-row: span 1;
    grid-column: span 2;
    color: #000; }

.overview-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 6rem 1fr;
  grid-gap: 2rem;
  height: 49vh;
  background-color: #fff;
  padding: 3rem 6rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .overview-bottom-title {
    display: grid;
    grid-row: span 1;
    grid-column: span 4;
    color: #000; }

.overview-box {
  height: 45vh;
  background-size: cover;
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 2rem 2.5rem;
  overflow: hidden; }
  .overview-box-top-1 {
    background-image: url("../img/Canva - Black Red and Grey Rectangular Entertainment Console.jpg");
    opacity: .7;
    color: #fff;
    display: grid;
    grid-row: span 1;
    grid-column: span 1; }
  .overview-box-top-2 {
    background-image: url("../img/Canva - Black Transistor Beside Capacitor.jpg");
    opacity: .7;
    color: #fff;
    display: grid;
    grid-row: span 1;
    grid-column: span 1; }
  .overview-box-bottom-1, .overview-box-bottom-2, .overview-box-bottom-3, .overview-box-bottom-4 {
    display: grid;
    grid-row: span 1;
    grid-column: span 1;
    background-image: linear-gradient(to left, rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.7)), url("../img/Canva - Empty Concrete Building.jpg"); }

.overview-title-big {
  font-size: 4rem; }

.overview-title-small {
  font-size: 3rem; }

.overview-content {
  font-size: 2rem; }

.section-brands {
  height: 40vh;
  background-color: #f9f7f6;
  padding: 4rem 6rem;
  position: relative; }

.brands {
  height: 70%;
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #aaa;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%; }
  .brands-box {
    display: grid;
    grid-column: span 1;
    position: relative; }
  .brands-img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }
  .brands-title {
    position: absolute;
    top: 2rem;
    left: 6rem; }

/* Next & previous buttons */
.prev, .next {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #aaa;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 2.5rem;
  border-radius: 3px 0 0 3px; }

.prev {
  left: 2.5rem;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.footer {
  padding: 2rem;
  height: 40vh;
  background-color: #101d2c;
  color: #aaa;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5rem;
  line-height: 1.5;
  overflow: hidden;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 1rem; }
  .footer-box1, .footer-box2 {
    display: grid;
    grid-row: span 1;
    grid-column: span 1;
    margin-right: auto;
    margin-left: auto; }
  .footer-box3 {
    display: grid;
    grid-row: span 1;
    grid-column: span 2;
    color: #aaa;
    margin: auto; }
  .footer-title {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1.8rem;
    margin-bottom: 1.5rem; }
