*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

.margin-bottom-large {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .margin-bottom-large {
      margin-bottom: 3rem; } }

.margin-bottom-medium {
  margin-bottom: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .margin-bottom-medium {
      margin-bottom: 1.8rem; } }

.margin-bottom-small {
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .margin-bottom-small {
      margin-bottom: 1rem; } }

.margin-bottom-xs {
  margin-bottom: 1rem; }

a {
  text-decoration: none;
  color: #aaa; }
  a:hover {
    color: #fff; }

.btn-learnMore {
  line-height: 1.5;
  background: none;
  padding: .5rem 1rem;
  color: inherit;
  border: 0.2rem solid #aaa;
  border-radius: 3px;
  text-decoration: underline;
  margin: 2rem 0; }
  .btn-learnMore:hover {
    background-color: #101d2c;
    cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .btn-learnMore {
      margin: 1rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .btn-learnMore {
      color: #fff; } }

.title-big {
  font-size: 5rem;
  font-weight: 700; }
  @media only screen and (max-width: 37.5em) {
    .title-big {
      font-size: 3.5rem; } }

.title-medium {
  font-size: 4rem;
  font-weight: 700; }
  @media only screen and (max-width: 37.5em) {
    .title-medium {
      font-size: 3rem; } }

.title-small {
  font-size: 3rem;
  font-weight: 700; }
  @media only screen and (max-width: 37.5em) {
    .title-small {
      font-size: 2.5rem; } }

.title-xs {
  font-size: 2rem;
  font-weight: 700; }
  @media only screen and (max-width: 37.5em) {
    .title-xs {
      font-size: 2rem; } }

.text-center {
  text-align: center; }

.background-grey {
  background-color: #f9f7f6; }

.empty {
  opacity: 0; }
  @media only screen and (max-width: 37.5em) {
    .empty {
      display: none; } }

.float-right {
  float: right; }

.float-left {
  float: left; }

.mobile-display {
  display: none !important; }
  @media only screen and (max-width: 56.25em) {
    .mobile-display {
      display: inline-block !important; } }

.desktop-display {
  display: inline-block !important; }
  @media only screen and (max-width: 56.25em) {
    .desktop-display {
      display: none !important; } }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 0rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 0rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 0rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2);
    display: inline-block; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4);
    display: inline-block; }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.grid-row-3 {
  width: 80%;
  text-align: center;
  margin: 3rem auto; }
  @media only screen and (max-width: 56.25em) {
    .grid-row-3 {
      width: 95%; } }
  .grid-row-3 .grid-col-1-3 {
    width: calc((100% - 2 * 2rem) / 3);
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .grid-row-3 .grid-col-1-3 {
        min-width: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .grid-row-3 .grid-col-1-3 {
        min-width: 100%; } }
  .grid-row-3 .grid-col-2-3 {
    width: calc((100% - 2 * 2rem) * 2 / 3);
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .grid-row-3 .grid-col-2-3 {
        min-width: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .grid-row-3 .grid-col-2-3 {
        min-width: 100%; } }

.section-header {
  height: 100vh;
  background-image: linear-gradient(to left, rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.9)), url("../img/statue-of-liberty.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  margin-bottom: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); }

.header {
  height: 100%;
  color: #aaa;
  padding: 2rem 4rem;
  line-height: 1.5; }
  @media only screen and (max-width: 56.25em) {
    .header {
      padding: 1rem; } }
  .header-logo {
    background-image: radial-gradient(circle, rgba(170, 170, 170, 0.5) 0%, rgba(170, 170, 170, 0.3) 20%, rgba(170, 170, 170, 0.1) 40%, rgba(170, 170, 170, 0) 60%);
    width: 20rem;
    height: 15rem;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .header-logo {
        width: 15rem;
        height: 9rem; } }
    .header-logo img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 20rem; }
      @media only screen and (max-width: 56.25em) {
        .header-logo img {
          width: 15rem; } }
  .header-nav {
    font-size: 2.5rem;
    position: absolute;
    top: 3rem;
    right: 4rem; }
    .header-nav-item {
      text-decoration: none;
      color: #aaa; }
      .header-nav-item:hover {
        color: #fff; }
      .header-nav-item:not(:last-child) {
        margin-right: 1.8rem; }
    @media only screen and (max-width: 56.25em) {
      .header-nav {
        display: none; } }
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 56.25em) {
      .header-content {
        width: 80%;
        text-align: center; } }
    .header-content-title {
      display: inline-block;
      font-size: 4rem;
      animation: moveInLeft .5s ease-in; }
      @media only screen and (max-width: 37.5em) {
        .header-content-title {
          font-size: 3rem; } }
    .header-content-text {
      font-size: 2.5rem;
      animation: moveInRight .5s ease-in; }
      @media only screen and (max-width: 37.5em) {
        .header-content-text {
          font-size: 2rem; } }
  .header-scroll {
    font-size: 10rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    background: none;
    border: none;
    color: inherit; }
    .header-scroll:hover {
      cursor: pointer; }
    .header-scroll:focus {
      outline: none; }
  .header-pic {
    position: absolute;
    left: 4rem;
    width: 13.5%;
    height: 78%;
    overflow: hidden; }
    .header-pic-img {
      height: 10rem;
      width: 9rem;
      object-fit: contain; }
      @media only screen and (max-width: 81.25em) {
        .header-pic-img {
          height: 8rem;
          width: 7rem; } }
    @media only screen and (max-width: 56.25em) {
      .header-pic {
        display: none; } }

#header-nav2 {
  display: none; }

.sticky {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  padding: .7rem;
  background-color: rgba(16, 29, 44, 0.8);
  z-index: 2;
  text-transform: uppercase;
  display: inline-block;
  text-align: center; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTopBounce {
  0% {
    opacity: 0;
    transform: translateY(-90vh);
    animation-timing-function: ease-in; }
  9% {
    transform: translateY(0vh);
    animation-timing-function: ease-out; }
  18% {
    transform: translateY(-45vh);
    animation-timing-function: ease-in; }
  27% {
    transform: translateY(0vh);
    animation-timing-function: ease-out; }
  36% {
    transform: translateY(-27vh);
    animation-timing-function: ease-in; }
  45% {
    transform: translateY(0vh);
    animation-timing-function: ease-out; }
  54% {
    transform: translateY(-16vh);
    animation-timing-function: ease-in; }
  63% {
    transform: translateY(0vh);
    animation-timing-function: ease-out; }
  72% {
    transform: translateY(-9vh);
    animation-timing-function: ease-in; }
  81% {
    transform: translateY(0vh);
    animation-timing-function: ease-out; }
  90% {
    transform: translateY(0vh);
    animation-timing-function: ease-in; }
  100% {
    opacity: 1;
    transform: translateY(0vh);
    animation-timing-function: ease-out; } }

@keyframes moveInFarLeft {
  0% {
    opacity: 0;
    transform: translateX(-45vw); }
  100% {
    transform: translateX(0); } }

.navigation {
  display: none; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #244569;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 4rem;
    right: 4rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    background-image: radial-gradient(#244569, #101d2c);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #244569;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    z-index: 1500; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #aaa;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.navigation-phone {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .navigation-phone {
      display: inline-block; } }

.section-overview {
  color: #aaa; }

.overview-top {
  background-color: #f9f7f6;
  padding: 4rem 6rem;
  height: 52vh; }
  .overview-top-title {
    color: #000; }
  @media only screen and (max-width: 37.5em) {
    .overview-top {
      height: 95vh; } }

.overview-bottom {
  background-color: #fff;
  padding: 3rem 6rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .overview-bottom-title {
    color: #000; }

.overview-box {
  background-size: cover;
  height: 80%;
  width: 100%;
  object-fit: cover;
  padding: 2rem 2.5rem;
  overflow: hidden;
  transition: all .2s ease;
  overflow: hidden; }
  .overview-box-top-1 {
    background-image: linear-gradient(to right, rgba(16, 29, 44, 0.5), rgba(16, 29, 44, 0.1)), url("../img/Canva-microphone.jpg");
    opacity: .8;
    width: calc((100% - 3rem) / 2);
    float: left;
    display: inline-block;
    margin-right: 2.7rem;
    margin-bottom: 1rem;
    height: 35vh; }
    .overview-box-top-1:hover {
      color: #fff; }
    @media only screen and (max-width: 37.5em) {
      .overview-box-top-1 {
        width: 95%;
        height: 40vh;
        margin: 1rem auto;
        color: #fff; } }
  .overview-box-top-2 {
    background-image: linear-gradient(to left, rgba(16, 29, 44, 0.6), rgba(16, 29, 44, 0.2)), url("../img/Canva-hourglass.jpg");
    opacity: .7;
    width: calc((100% - 3rem) / 2);
    float: left;
    display: inline-block;
    height: 35vh;
    margin-bottom: 1rem; }
    .overview-box-top-2:hover {
      color: #fff; }
    @media only screen and (max-width: 37.5em) {
      .overview-box-top-2 {
        width: 95%;
        height: 40vh;
        margin: 1rem auto;
        color: #fff; } }
  .overview-box-bottom-1, .overview-box-bottom-2, .overview-box-bottom-3, .overview-box-bottom-4 {
    background-image: radial-gradient(circle, rgba(16, 29, 44, 0.6) 0%, rgba(16, 29, 44, 0.8) 50%, #101d2c 100%);
    width: calc((100% - 3 * 3rem) / 4);
    display: inline-block;
    height: 35vh;
    margin-bottom: 1rem; }
    .overview-box-bottom-1:not(:last-child), .overview-box-bottom-2:not(:last-child), .overview-box-bottom-3:not(:last-child), .overview-box-bottom-4:not(:last-child) {
      margin-right: 2.7rem; }
    .overview-box-bottom-1:hover, .overview-box-bottom-2:hover, .overview-box-bottom-3:hover, .overview-box-bottom-4:hover {
      color: #fff; }
    @media only screen and (max-width: 81.25em) {
      .overview-box-bottom-1, .overview-box-bottom-2, .overview-box-bottom-3, .overview-box-bottom-4 {
        width: calc((100% - 2 * 3rem) / 2); } }
    @media only screen and (max-width: 37.5em) {
      .overview-box-bottom-1, .overview-box-bottom-2, .overview-box-bottom-3, .overview-box-bottom-4 {
        width: 95%;
        height: 40vh;
        margin: 1rem auto;
        color: #fff; } }

.overview-title-big {
  font-size: 4rem; }
  @media only screen and (max-width: 81.25em) {
    .overview-title-big {
      font-size: 3rem; } }

.overview-title-small {
  font-size: 3rem;
  font-weight: 700; }
  @media only screen and (max-width: 81.25em) {
    .overview-title-small {
      font-size: 2.2rem; } }

.overview-content {
  font-size: 2rem;
  overflow: hidden; }
  @media only screen and (max-width: 81.25em) {
    .overview-content {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 56.25em) {
    .overview-content {
      height: 6rem; } }

.section-brands {
  height: 40vh;
  background-color: #f9f7f6;
  padding: 4rem 6rem;
  position: relative; }

.brands {
  height: 40%;
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #aaa;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; }
  .brands-box {
    height: 100%;
    position: relative; }
    .brands-box-grid {
      width: calc((100% - 3 * 3rem) / 4);
      display: inline-block;
      height: 100%;
      position: relative; }
      .brands-box-grid:not(:last-child) {
        margin-right: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .brands-box-grid {
          width: calc((100% - 3 * 3rem) / 3); } }
      @media only screen and (max-width: 37.5em) {
        .brands-box-grid {
          width: 100%; } }
  .brands-img {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    text-align: center; }
  .brands-title {
    position: absolute;
    top: 2rem;
    left: 6rem; }
  .brands-center {
    height: 100%;
    width: 90%;
    margin: 0 auto; }

/* Next & previous buttons */
.prev, .next {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #aaa;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 2.5rem;
  border-radius: 3px 0 0 3px; }

.prev {
  left: 2.5rem;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.footer {
  width: 100%;
  padding: 2rem;
  height: 40vh;
  background-color: #101d2c;
  color: #aaa;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow: hidden;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 1rem; }
  @media only screen and (max-width: 81.25em) {
    .footer {
      height: 50vh; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      height: 80vh; } }
  .footer-box1, .footer-box2, .footer-box3 {
    width: calc((100% - 2rem) / 3);
    height: 80%;
    display: inline-block;
    padding: 1rem 4rem;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .footer-box1, .footer-box2, .footer-box3 {
        width: calc((100% - 1rem) / 3); } }
  @media only screen and (max-width: 37.5em) {
    .footer-box1, .footer-box2 {
      width: 100%;
      height: 40%;
      padding: 0.5rem 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer-box3 {
      display: none; } }
  .footer-box4 {
    position: relative;
    color: #aaa;
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 1rem; }
  .footer-center-box {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 100%;
    top: 50%;
    left: 50%;
    width: 70%; }
  .footer-title {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1.8rem;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .footer-title {
        margin: 0.8rem auto; } }
  .footer-logo {
    padding: 2rem 4rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }
    .footer-logo img {
      height: 10rem; }
  .footer-media-logo {
    font-size: 1.8rem;
    letter-spacing: 1rem; }
    .footer-media-logo a:hover {
      color: #fff; }
      .footer-media-logo a:hover i {
        transform: scale(1.2); }

.section-product {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 2rem 0; }

.box-parent {
  min-height: 25rem;
  min-width: 25rem;
  display: inline-block;
  width: calc((100% - 2 * 10rem) / 3);
  border-radius: 1rem;
  position: relative;
  transition: .2s;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .box-parent {
      width: calc((100% - 2 * 8rem) / 3); } }
  @media only screen and (max-width: 37.5em) {
    .box-parent {
      width: 100%; } }
  .box-parent:not(:last-child) {
    margin-right: 9rem; }
    @media only screen and (max-width: 56.25em) {
      .box-parent:not(:last-child) {
        margin-right: 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .box-parent:not(:last-child) {
        margin-right: 0; } }
  .box-parent:hover {
    border-radius: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    transform: scale(1.08); }
    .box-parent:hover .box-title {
      text-decoration: underline; }
  .box-parent-empty {
    opacity: 0; }
    @media only screen and (max-width: 37.5em) {
      .box-parent-empty {
        display: none; } }

.box-img img {
  height: 20rem;
  width: 20rem;
  object-fit: contain; }
  @media only screen and (max-width: 37.5em) {
    .box-img img {
      height: 15rem;
      width: 15rem; } }

.box-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .box-title {
      font-size: 2rem; } }

.box-content {
  font-size: 1.8rem;
  color: #535353;
  width: 70%;
  text-align: center;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .box-content {
      width: 95%; } }

.section-product-category {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem; }

.product-content {
  font-size: 2rem; }

.product-category-top {
  width: 70%;
  margin: auto;
  text-align: center;
  border-bottom: 0.2rem solid #aaa;
  padding: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .product-category-top {
      width: 95%; } }

.product-category-bottom {
  display: grid;
  justify-items: center;
  align-items: center; }

.section-product-item {
  width: 80%;
  margin: auto; }
  @media only screen and (max-width: 56.25em) {
    .section-product-item {
      width: 95%; } }

.product-item-box {
  width: 80%;
  display: inline-block;
  margin: 6rem auto;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5; }
  .product-item-box a {
    font-size: inherit;
    line-height: inherit;
    color: #aaa; }
    .product-item-box a:hover {
      text-decoration: underline;
      color: #000; }
  @media only screen and (max-width: 81.25em) {
    .product-item-box {
      width: 100%;
      margin: 3rem auto;
      padding: 1rem; } }

.product-item-header {
  height: 17rem; }

.product-item-img {
  width: calc((100% - 2rem) / 2);
  display: inline-block;
  padding: 2rem 3rem;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    .product-item-img {
      width: 100%; } }
  .product-item-img img {
    max-height: 25rem;
    width: 80%;
    min-width: 21rem;
    object-fit: contain; }
    @media only screen and (max-width: 37.5em) {
      .product-item-img img {
        max-height: 18rem; } }

.product-item-content {
  color: #000;
  width: calc((100% - 2rem) / 2);
  display: inline-block;
  text-align: left;
  padding-bottom: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .product-item-content {
      width: 90%;
      margin: 0 auto; } }
  .product-item-content li {
    font-size: 2rem;
    line-height: 1.5; }
    @media only screen and (max-width: 56.25em) {
      .product-item-content li {
        font-size: 1.8rem; } }

.section-contact {
  color: #535353; }

.contact-form {
  padding: 2rem 4rem;
  width: 100%;
  font-size: 1.5rem; }
  .contact-form-title {
    width: 50%;
    margin: 3rem auto;
    color: #101d2c; }
  .contact-form-content {
    width: 50%;
    margin: auto; }
    @media only screen and (max-width: 37.5em) {
      .contact-form-content {
        width: 100%; } }
  .contact-form-text {
    width: 50%;
    margin: 0 auto;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: justify; }
    @media only screen and (max-width: 37.5em) {
      .contact-form-text {
        width: 90%; } }
  .contact-form-name, .contact-form-company, .contact-form-email, .contact-form-number {
    font-size: inherit;
    width: 70%;
    line-height: 2; }
    @media only screen and (max-width: 37.5em) {
      .contact-form-name, .contact-form-company, .contact-form-email, .contact-form-number {
        width: 90%; } }
  .contact-form-msg {
    font-size: inherit;
    width: 70%;
    line-height: 2;
    height: 16rem; }
    @media only screen and (max-width: 37.5em) {
      .contact-form-msg {
        width: 90%; } }
  .contact-form button {
    display: block;
    margin: auto;
    font-size: inherit;
    line-height: 3rem;
    width: 6rem;
    color: #f9f7f6;
    background-color: #101d2c;
    border: 0.2rem solid #101d2c;
    border-radius: .4rem;
    transition: .1s;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.4); }
    .contact-form button:hover {
      text-decoration: underline;
      cursor: pointer;
      transform: translateY(0.1rem) scale(0.95);
      box-shadow: none; }

.contact-locations {
  padding: 2rem 4rem;
  width: 100%; }
  .contact-locations-content {
    font-size: 1.8rem; }
  .contact-locations-box {
    width: 50%;
    margin: auto; }
    @media only screen and (max-width: 37.5em) {
      .contact-locations-box {
        width: 90%; } }
  .contact-locations-title {
    color: #101d2c; }
  .contact-locations-sub-content {
    font-size: 1.5rem; }

.section-about .about-top {
  padding: 4rem 6rem;
  position: relative;
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    .section-about .about-top {
      padding: 1rem 0;
      width: 90%; } }

.section-about .about-bottom {
  padding: 4rem 6rem; }

.section-about .about-title {
  border-bottom: 0.2rem solid #aaa;
  padding-bottom: 1rem;
  color: #101d2c; }

.section-about .about-content {
  padding: 2rem 8rem;
  font-size: 1.8rem;
  text-align: justify; }
  .section-about .about-content-img {
    width: 40rem;
    object-fit: contain;
    float: right;
    margin: 0 2rem 2rem 2rem; }
    @media only screen and (max-width: 46.25em) {
      .section-about .about-content-img {
        width: 50%;
        margin: 1rem auto; } }
    @media only screen and (max-width: 37.5em) {
      .section-about .about-content-img {
        margin: 1rem auto;
        width: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .section-about .about-content {
      padding: 2rem 2rem; } }

/* The actual timeline (the vertical ruler) */
.timeline {
  box-sizing: border-box;
  padding: 4rem 4rem;
  position: relative;
  max-width: 80%;
  margin: 0 auto; }
  .timeline h2 {
    font-size: 2rem; }
  .timeline p {
    font-size: 1.5rem; }

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: .6rem;
  background-image: linear-gradient(to bottom, #aaaaaa, #dfdede, #aaaaaa);
  top: 2rem;
  bottom: 0;
  left: 50%;
  margin-left: -.2rem;
  border-radius: .3rem; }

/* Container around content */
.container {
  padding: 1.5rem 4rem;
  position: relative;
  background-color: inherit;
  width: 40%; }

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: -1rem;
  background-image: radial-gradient(circle, #dfdede, #535353);
  top: 2rem;
  border-radius: 50%;
  z-index: 1; }

/* Place the container to the left */
.left {
  left: 10%; }

/* Place the container to the right */
.right {
  left: 50%; }

/* Fix the circle for containers on the right side */
.right::after {
  left: -1rem; }

/* The actual content */
.content {
  padding: 2rem 3rem;
  background-image: linear-gradient(to bottom, #aaaaaa, #dfdede);
  position: relative;
  border-radius: .4rem; }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 4rem; }
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 3rem;
    padding-right: 1rem; }
  /* Make sure that all arrows are pointing leftwards */
  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: -1rem; }
  /* Make all right containers behave like the left ones */
  .right, .left {
    left: 0%; } }

.section-distribution .dis-box-parent {
  min-height: 15rem;
  padding: .5rem 1rem;
  display: inline-block;
  width: calc((100% - 2 * 10rem) / 3);
  border-radius: 1rem;
  position: relative;
  transition: .2s; }
  @media only screen and (max-width: 56.25em) {
    .section-distribution .dis-box-parent {
      width: calc((100% - 2 * 8rem) / 3); } }
  @media only screen and (max-width: 37.5em) {
    .section-distribution .dis-box-parent {
      width: 100%; } }
  .section-distribution .dis-box-parent:not(:last-child) {
    margin-right: 9rem; }
    @media only screen and (max-width: 56.25em) {
      .section-distribution .dis-box-parent:not(:last-child) {
        margin-right: 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-distribution .dis-box-parent:not(:last-child) {
        margin-right: 0; } }
  .section-distribution .dis-box-parent:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    transform: scale(1.08);
    border-radius: 1rem; }
    .section-distribution .dis-box-parent:hover .dis-box-title {
      text-decoration: underline; }

.section-distribution .dis-grid-row-3 {
  width: 100%;
  text-align: center;
  margin: 3rem auto; }

.section-distribution .dis-box-img img {
  height: 10rem; }

.section-distribution .dis-brands-box {
  width: calc((100% - 3 * 3rem) / 3);
  display: inline-block;
  height: 100%;
  position: relative; }
  .section-distribution .dis-brands-box:not(:last-child) {
    margin-right: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .section-distribution .dis-brands-box {
      width: 100%; } }

.section-distribution .distribution-box-1, .section-distribution .distribution-box-2 {
  width: 100%;
  padding: 2rem 4rem;
  margin: 0 auto;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .section-distribution .distribution-box-1, .section-distribution .distribution-box-2 {
      padding: 1rem 0; } }

.section-distribution .distribution-box-3 {
  height: 40vh;
  width: 80%;
  padding: 2rem 4rem;
  margin: 0 auto;
  position: relative; }

.section-distribution .distribution-title {
  color: #101d2c; }

.section-distribution .distribution-details-item {
  padding: 3.5rem 0; }
  .section-distribution .distribution-details-item:not(:last-child) {
    border-bottom: 0.2rem solid #dfdede; }
  .section-distribution .distribution-details-item img {
    width: 20rem;
    object-fit: contain; }
  .section-distribution .distribution-details-item-content {
    display: inline-block;
    padding: 0 4rem;
    font-size: 1.8rem; }
  .section-distribution .distribution-details-item a {
    color: inherit; }
    .section-distribution .distribution-details-item a:hover {
      text-decoration: underline; }

.section-markets {
  width: 100%; }

.market-box {
  padding: 4rem 2rem;
  width: 100%; }
  .market-box-bkg-grey {
    background-color: #dfdede; }
  .market-box-title {
    width: 100%; }

.market-box-img {
  width: 48%;
  margin-right: 2.5rem;
  display: inline-block;
  text-align: right;
  vertical-align: top; }
  @media only screen and (max-width: 56.25em) {
    .market-box-img {
      width: 100%;
      margin: 0;
      text-align: center; } }
  .market-box-img img {
    width: 40rem;
    border-radius: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .market-box-img img {
        width: 60%;
        margin: 0 auto; } }
    @media only screen and (max-width: 37.5em) {
      .market-box-img img {
        width: 70%;
        margin: 0 auto; } }

.market-box-content {
  font-size: 2rem;
  display: inline-block;
  width: 48%;
  vertical-align: top;
  text-align: center; }
  @media only screen and (max-width: 81.25em) {
    .market-box-content {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 56.25em) {
    .market-box-content {
      width: 100%;
      margin: 0;
      text-align: center; } }
  .market-box-content-subBox {
    display: block;
    width: 20rem;
    margin: 1rem;
    text-align: left;
    cursor: pointer;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .market-box-content-subBox {
        margin-left: 20%; } }
    @media only screen and (max-width: 37.5em) {
      .market-box-content-subBox {
        margin-left: 15%; } }
    .market-box-content-subBox a {
      color: #535353; }
      .market-box-content-subBox a:hover {
        cursor: pointer;
        color: #000; }
    .market-box-content-subBox li {
      width: 100%; }
      @media only screen and (max-width: 56.25em) {
        .market-box-content-subBox li {
          text-decoration: underline; } }
    .market-box-content-subBox ul {
      width: 100%;
      display: block;
      height: auto;
      transform: translateX(98vw);
      position: absolute;
      top: 0;
      right: -100%;
      opacity: 0;
      list-style: none;
      background-color: #f9f7f6;
      border-radius: 10px; }
      .market-box-content-subBox ul li {
        padding: 0.5rem;
        border-radius: 10px; }
        @media only screen and (max-width: 56.25em) {
          .market-box-content-subBox ul li {
            text-decoration: none; } }
      .market-box-content-subBox ul li:hover {
        background-color: #535353; }
        .market-box-content-subBox ul li:hover a {
          color: #fff; }

.market-box-content-subBox li:hover ul {
  opacity: 1;
  transform: translateX(0); }

.section-news .news-top {
  padding: 4rem 6rem;
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: calc( 40vh + 8rem); }
  @media only screen and (max-width: 37.5em) {
    .section-news .news-top {
      padding: 1rem 0;
      width: 90%; } }

.section-news .news-bottom {
  padding: 4rem 6rem;
  position: relative;
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    .section-news .news-bottom {
      padding: 1rem 0;
      width: 90%; } }

.section-news .news-title {
  border-bottom: 0.2rem solid #aaa;
  padding-bottom: 1rem;
  color: #101d2c; }

.section-news .news-content {
  padding: 2rem 8rem;
  font-size: 1.8rem;
  text-align: justify; }
  .section-news .news-content-img {
    width: 40rem;
    object-fit: contain;
    float: right;
    margin: 0 2rem 2rem 2rem; }
    @media only screen and (max-width: 46.25em) {
      .section-news .news-content-img {
        width: 50%;
        margin: 1rem auto; } }
    @media only screen and (max-width: 37.5em) {
      .section-news .news-content-img {
        margin: 1rem auto;
        width: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .section-news .news-content {
      padding: 2rem 2rem; } }

.section-news .news-box1 {
  width: calc((100% - 2 * 2rem) / 4 * 2 + 2rem);
  height: 40vh;
  float: left;
  margin-right: calc(2rem * 0.7);
  background-color: #777777; }

.section-news .news-box2, .section-news .news-box3, .section-news .news-box4, .section-news .news-box5 {
  width: calc((100% - 3 * 2rem) / 4);
  height: calc((40vh - 2rem) / 2);
  float: left;
  background-color: #777777; }

.section-news .news-box2 {
  margin-right: calc(2rem * 0.7);
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .section-news .news-box2 {
      width: calc((100% - 2rem * 2) / 2);
      margin-right: 0; } }

.section-news .news-box3 {
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .section-news .news-box3 {
      display: none; } }

.section-news .news-box4 {
  margin-right: calc(2rem * 0.7); }
  @media only screen and (max-width: 37.5em) {
    .section-news .news-box4 {
      width: calc((100% - 2rem * 2) / 2);
      margin-right: 0; } }

@media only screen and (max-width: 37.5em) {
  .section-news .news-box5 {
    display: none; } }
