.section-distribution{
    //padding: 2rem 4rem;

    .dis-box-parent{
        min-height: 15rem;
        padding: .5rem 1rem;
        display: inline-block;
        width: calc((100% - 2 * 10rem) / 3);
        border-radius: 1rem;
        position: relative;
        transition: .2s;
        
        @include respond(tab-port){
            width: calc((100% - 2 * 8rem) / 3);
        }
        
        @include respond(phone){
            width: 100%;
        }

        &:not(:last-child){
            margin-right: 9rem;

            @include respond(tab-port){
                margin-right: 7rem;
            }

            @include respond(phone){
                margin-right:0;
            }
        }

        &:hover{
            
            box-shadow: 0 0 8px rgba($color-black,.8);
            transform: scale(1.08);
            border-radius: 1rem;
            
            .dis-box-title{
                text-decoration: underline;
            }
        }
    }
    .dis-grid-row-3{
        width: 100%;
        text-align: center;
        margin:3rem auto;
    }

    .dis-box-img{
        img{
            height: 10rem;
        }
    }

    .dis-brands-box{
        width: calc((100% - 3 * 3rem) / 3);
        display: inline-block;
        height:100%;
        position: relative;
        
        &:not(:last-child){
            margin-right: 2rem;
        }

        @include respond(phone){
            width: 100%;
        }
    }
    .distribution{

        &-box-1,&-box-2{
            width: 100%;
            padding: 2rem 4rem;
            margin:0 auto;
            position: relative;

            @include respond(phone){
                padding: 1rem 0;
            }
        }

        &-box-3{
            height:40vh;
            width: 80%;
            padding: 2rem 4rem;
            margin:0 auto;
            position: relative;
        }
        &-title{
            color:$color-primary
        }

        &-details{
            // width:70%;
            // margin:0 auto;
            // padding:2rem 0;


            &-item{
                padding: 3.5rem 0;
                &:not(:last-child){
                    border-bottom: .2rem solid $color-grey-light-3
                }

                img{
                    width:20rem;
                    object-fit: contain;    
                }

                &-content{
                    display: inline-block;
                    padding:0 4rem;
                    font-size: 1.8rem;
                }
                
                a{
                    color:inherit;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}