.footer{
    width: 100%;
    padding: 2rem;
    height: 40vh;
    background-color: $color-primary;
    color: $color-grey-light-2;
    font-size: 1.6rem;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 5rem;
    line-height: 1.5;
    overflow: hidden;
    box-shadow: 0 -5px 5px rgba($color-black,.5);
    margin-top: 1rem;

    @include respond(tab-port){
        height:50vh;
    }
    @include respond(phone){
        height:60vh;
    }


    &-box1,
    &-box2,
    &-box3{
        // display: grid;
        // grid-row: span 1;
        // grid-column: span 1;
        // margin-right: auto;
        // margin-left: auto;
        width: calc((100% - 2rem) / 3);
        //display: inline-block;
        height: 80%;
        float: left;
        padding:1rem 4rem;
        position: relative;

        // &:not(:last-child) {
        //     margin-right: 2rem;
        // }

        @include respond(tab-port){
            width: calc((100% - 1rem) / 3);
        }

    }

    &-box1, &-box2{
        @include respond(phone){
            width: calc((100% - 1rem) / 2);
            padding: 0.5rem 2rem;
        }
    }

    &-box3{

        @include respond(phone){
            display: none;
        }
    }
    &-box4{
        // display: grid;
        // grid-row: span 1;
        // grid-column: span 2;
        color: $color-grey-light-2;
        width:100%;
        // margin: auto;
        text-align: center; 
        padding: 0.5rem;
    }

    &-center-box{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left:50%;
        width: 70%;
    }

    &-title{
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 1.8rem;
        margin-bottom: 1.5rem;
    }

    &-logo{
        padding:2rem 4rem;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left:50%;
        img{
            height:10rem;
        }
    }

    &-media-logo{
        font-size: 1.8rem;
        letter-spacing: 1rem;

        a:hover{
            i{
                transform: scale(1.2);
            }
            color: $color-white;
        }
    }
}