.section-news{
    position: relative;
    transition: all .5s .2s;
    .news{
        &-top{
            padding: 4rem 6rem;
            position: relative;
            width: 80%;
            margin: 0 auto;
            height: calc( 40vh + 18rem);
            transition: .2s;


            @include respond(phone){
                padding: 1rem 0;
                width: 90%;
            }
        }

        &-bottom{
            padding: 4rem 6rem;
            position:relative;
            width: 80%;
            margin: 0 auto;
            transition: .2s ease;


            @include respond(phone){
            padding: 1rem 0;
            width: 90%;
            }
        }

        &-btn{
            background: none;
            border:none;
            transition: .2s;
            color: rgba($color-white, 0.8);
            text-align: left;


            &:hover{
                transform: translateY(-1.5rem);
            }

            &:focus{
            background: none;
            border:none;
            outline:none;
            }
        }

        &-title{
            border-bottom:.2rem solid $color-grey-light-2;
            padding-bottom:1rem;
            color:$color-primary;
        }

        &-box-contents{
            padding-right: 1rem;
            padding-left: 1rem;
            &:hover{
                text-decoration: underline;
                cursor: pointer; 
            }
        }

        &-content{
            padding: 2rem 8rem;
            font-size: 1.8rem;
            text-align: justify;
            width: 100%;

            &-img{  
                width: 40rem;
                object-fit: contain;
                float:right;
                margin:0 2rem 2rem 2rem;

                @media only screen and (max-width: 46.25em) {
                    width: 50%;
                    margin: 1rem auto;
                }

                @include respond(phone){
                    margin: 1rem auto;
                    width: 100%;
                }
            }

            &-img-big{
                width: 80%;
            }

            @include respond(tab-port){
                padding: 2rem 2rem;
            }
        } 

        &-subBox{
            background-image: linear-gradient(to top,rgba($color-black, 1) ,rgba($color-black, 0.1));
            width:100%;
            height:100%; 
        }

        &-box0{
            width: 100%;
            height: 6rem;
            padding: 0.5rem 0.5rem;
            float: left;
            text-align: left;
            color: $color-primary;
        }
        &-box1{
            width: calc((100% - 2 * #{$gutter-horizontal}) / 4 * 2 + #{$gutter-horizontal});
            height: 40vh; 
            float:left;
            margin-right: calc(#{$gutter-horizontal} * 0.7);
            background-image: url("../img/flam-gas-announcement.jpg");
            object-fit: cover;
        }
        &-box2, &-box3, &-box4, &-box5{
            width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
            height: calc((40vh - #{$gutter-horizontal}) / 2);
            float: left;
            background-color: #777777;
            position: relative;
        }
        &-box6{
            width: 100%;
            height: 3rem;
            padding: 0.5rem 0.5rem;
            float: left;
            text-align: right;

            a{
                font-size: 1.8rem;
                color: black;
                transition: .2s;
                &:hover{
                    text-decoration: underline;
                }
            }
            
        }

        &-box2{
            margin-right: calc(#{$gutter-horizontal} * 0.7);
            margin-bottom: $gutter-horizontal;
            background-image: url("../img/COSMA-Announcement.png");
            object-fit: cover;

            @include respond(tab-port){
                width: calc((100% - #{$gutter-horizontal} * 2) / 2);
                margin-right: 0;
            }
        }

        &-box3{
            margin-bottom: $gutter-horizontal;
            @include respond(tab-port){
                display: none;
            }
        }
        &-box4{
            margin-right: calc(#{$gutter-horizontal} * 0.7);

            @include respond(tab-port){
                width: calc((100% - #{$gutter-horizontal} * 2) / 2);
                margin-right: 0;
            }
        }
        &-box5{
            @include respond(tab-port){
                display: none;
            }
        }
 
    }
}