.section-overview{
    color:$color-grey-light-2;
    
}

.overview{

   

    &-top{      
        height: 49vh;
        background-color: $color-grey-light-1;
        padding:4rem 6rem;

        &-title{
            color: $color-black;
        }
    }

    &-bottom{    
        height: 49vh;
        background-color: $color-white;
        padding:3rem 6rem;
        margin-top:1rem;
        margin-bottom: 1rem;


        &-title{

            color:$color-black;
        }
        
    }

    &-box{
        background-size: cover;
        height: 80%;
        width: 100%;
        object-fit: cover;
        padding: 2rem 2.5rem;
        overflow: hidden;
        transition: all .2s ease;

        &-top{
            &-1{
                background-image:linear-gradient(to right, rgba($color-primary,0.5),rgba($color-primary,0.1)),url('../img/Canva-microphone.jpg');
                opacity: .8;
                width: calc((100% - 3rem) / 2);
                float:left;
                display: inline-block;
                margin-right:2.7rem;
                // filter:FlipH;

                &:hover{
                    color: $color-white;
                }
            }
            &-2{
                background-image:linear-gradient(to left, rgba($color-primary,0.6), rgba($color-primary, 0.2)),url('../img/Canva-hourglass.jpg');
                opacity: .7;
                width: calc((100% - 3rem) / 2);
                float:left;
                display: inline-block;

                &:hover{
                    color: $color-white;
                }
            }
            
        }

        &-bottom{
            &-1,&-2,&-3,&-4{
                background-image: radial-gradient(circle,rgba($color-primary, .6) 0%, rgba($color-primary, .8) 50%, rgba($color-primary, 1) 100%);
                width: calc((100% - 3 * 3rem) / 4);
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 2.7rem;
                }
                
                &:hover{
                    color: $color-white;
                }
            }
        }
    }

    &-title-big{
        font-size: 4rem
    }

    &-title-small{
        font-size: 3rem;
    }

    &-content{
        font-size: 2rem;
    }
}