.pop{
    z-index:9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    padding: 4rem 6rem;
    width: 0;
    margin: 0 auto;
    height: 0;
    transform: scale(.25);
    // position: absolute;
    // top: -200vh;
    // left: -200vw;
    

    @include respond(phone){
    padding: 1rem 0;
    width: 90%;
    }

    &-title{
        border-bottom:.2rem solid $color-grey-light-2;
        padding-bottom:1rem;
        color:$color-primary;
        opacity: 0;
        height:0;
        transform: scale(.25);
        transition: all .5s .2s;
    }


    &-content{
        padding: 2rem 8rem;
        font-size: 1.8rem;
        text-align: justify;
        opacity:0;
        height:0;

        &-img{
            width: 40rem;
            object-fit: contain;
            float:right;
            margin:0 2rem 2rem 2rem;
            opacity: 0;
            height:0;
            transform: scale(.25);
            transition: all .5s .2s;

            @media only screen and (max-width: 46.25em) {
                width: 50%;
                margin: 1rem auto;
            }

            @include respond(phone){
                margin: 1rem auto;
                width: 100%;
            }
        }

        p{
            opacity: 0;
            height:0;
            transform: scale(.25);
            transition: all .5s .2s;
        }

        @include respond(tab-port){
            padding: 2rem 2rem;
        }
    } 


    &:target{
        opacity: 1 ;
        visibility: visible;
        width: 80%;
        height: auto;
        transform:  scale(1);
        // position: absolute;
        // top:0vh;
        // left:0vw;
    }

    &:target &-content{
        opacity: 1;
        height: auto;
        transform: scale(1);

        &-img{
            opacity: 1;
            height: auto;
            transform: scale(1);
        }

        p{
            opacity: 1;
            height: auto;
            transform: scale(1);
        }
    }

    &:target &-title{
        opacity: 1;
        height: auto;
        transform: scale(1);
        
    }

    
}

// .pop:target ~ .section-news .news-bottom { height: 40vh; }
